frameworks: net47, netcoreapp2.0

storage: none

source https://api.nuget.org/v3/index.json

nuget Argu
nuget Chessie
nuget FParsec
nuget Microsoft.CodeAnalysis.CSharp

group build

framework: net47

source https://api.nuget.org/v3/index.json

nuget FAKE
nuget Fantomas
