source https://api.nuget.org/v3/index.json

framework: auto-detect

nuget Argu
nuget FAKE
nuget Fantomas
nuget FParsec
nuget Microsoft.CodeAnalysis.CSharp
github fsprojects/Chessie src/Chessie/ErrorHandling.fs